body,
button {
  background-color: #fffae6;
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  color: #ff8a00;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* Steps display */
.steps {
  background-color: #fffae6;
  border-radius: 50px;
  color: #ff8a00;
  margin: auto;
  padding: 0.5rem 1rem 0.5rem 0;
  position: relative;
  top: 3rem;
  text-align: center;
  width: 50%;
  z-index: 1;
}

.step-number {
  background-color: #ff8a00;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  line-height: 1rem;
  padding: 10px 5px 0;
  margin-right: 1rem;
}

.steps span {
  margin-left: 2rem;
}

.steps p {
  padding: 0;
}

/* Container Fluid */
.container {
  background-color: #ffffff;
  display: flex;
  position: relative;
}

/* Back arrow  */
.back-arrow {
  position: absolute;
  left: 4rem;
  top: 2rem;
}

.back-arrow a {
  color: #000000;
  margin-left: 0.5rem;
  text-decoration: none;
}

/* Title */
.details-title {
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.details-title div {
  align-self: center;
  margin-left: auto;
  margin-right: 3rem;
}

.content-container {
  flex: 1 1 70%;
  margin: 5rem 0 0 2rem;
  padding-left: 2rem;
}

/* Form  */
.delivery-details {
  display: flex;
  flex-wrap: wrap;
}

.delivery-form {
  flex: 1 1 60%;
}

.delivery-form textarea {
  font-family: "Inter", sans-serif;
  height: 150px;
  width: 100%;
}

.dropshipper-form {
  flex: 1 1 40%;
  margin-bottom: 3rem;
}

.input-container {
  margin: 0 2rem 1rem 0;
  position: relative;
  border-radius: 4px 4px 0 0;
  height: 56px;
  transition: background-color 500ms;
}

.delivery-details label {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: #cccccc;
  transform-origin: left top;
  user-select: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

.delivery-details input,
.delivery-details textarea {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  caret-color: var(--accent-color);
  border: 1px solid #cccccc;
  color: black;
  transition: border 500ms;
  padding: 20px 16px 6px;
  font-size: 1rem;
}

.delivery-details input:focus,
.delivery-details textarea:focus {
  outline: none;
  border-bottom-width: 2px;
  border-bottom-color: var(--accent-color);
}

.delivery-details input:focus + label,
.delivery-details textarea:focus + label {
  color: var(--accent-color);
}

.delivery-details input:focus + label,
.delivery-details input.is-valid + label,
.delivery-details textarea:focus + label,
.delivery-details textarea.is-valid + label {
  transform: translateY(-100%) scale(0.75);
}

/* Summary */
.summary-container {
  flex: 1 1 30%;
  margin: 5rem 2rem;
  padding: 0 2rem;
  border-left: 1px solid RGBA(255, 138, 0, 0.2);
}

.chosen-options {
  color: #1bd97b;
  font-weight: 700;
}

.total-summary {
  margin-top: 5rem;
}

.cost {
  display: flex;
}

.cost p {
  margin: 0.5rem 0;
}

.cost p:last-child,
.cost h2:last-child {
  font-weight: 700;
  margin-left: auto;
}

.summary-container button {
  background-color: #ff8a00;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

/* Options */
.options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.options button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #cccccc;
  flex: 0 1 200px;
  margin: 0 1rem 1rem 0;
  padding: 0.5rem;
  text-align: left;
}

/* Thankyou page  */
.thankyou {
  padding: 10% 20%;
  margin-bottom: 3rem;
}

.back-to-homepage {
  margin-top: 4rem;
}

.back-to-homepage a {
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .steps {
    border-radius: 0;
    width: 100%;
  }

  .steps span {
    margin: 1rem;
  }

  .container {
    flex-wrap: wrap;
  }

  .back-arrow {
    left: 2rem;
    top: 6rem;
  }

  .content-container,
  .summary-container,
  .delivery-form,
  .dropshipper-form {
    flex: 1 1 100%;
  }

  .content-container {
    margin-top: 8rem;
  }

  .summary-container {
    border: none;
    margin-top: 0;
  }

  .dropshipper-form {
    margin-top: 8rem;
  }

  .thankyou {
    padding: 0;
  }

  .back-to-homepage {
    margin-top: 2rem;
  }
}
